
* {
  margin: 0;
}
body {
  margin: 0 0 2rem;
  font-family: Helvetica, sans-serif;
  font-size: 10pt;
  color: #1c1b1b;
  background: #FFFFFF;
}

.top-nav {
  width: 100%;
  background: #4be8aa;
  border: solid 1px #e7ecf4;
  color: #fffcfd;
  font-size: 12pt;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list__item {
  margin: 1rem 0.8rem;
}

.nav-list__item--brand {
  flex: 1;

  font-weight: bold;
}

main {
margin: 2rem auto;
width: 100%;
background: #f0f0f0;
overflow: auto;
display: inline-block;

}

.card--holder {
margin: 0 auto;
overflow: auto;
width: 70%;


}

.card--container1 {
  width: calc(100% / 3 - 1rem - 1rem);
  margin: 1rem 1rem;
  height: 90%;
  background: #fff;
  float: left;
  border-radius: 0.5em;
  overflow: auto;

}

.card--content1 {
width: auto;
padding: 2rem;

}

img {
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;

}

.card__title {
  font-size: 1.5rem;
  margin: 0;
}
.hr__cardcontent {
  border-width: 0;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: #3b3b3b;
  width: 90%;
  margin: 1rem;
}

button {

}
