
body {
  margin: 0 0 2rem;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  color: #1c1b1b;
  background: #FFFFFF;
}

.top-nav {
  width: 100%;
  background: #4be8aa;
  border: solid 1px #e7ecf4;
  color: #fffcfd;
  font-size: 12pt;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list__item {
  margin: 1rem 0.8rem;
}

.nav-list__item--brand {
  flex: 1;

  font-weight: bold;
}

#main {
margin-top: 2.5em;
width: 100%;
min-height: 500px;
background: #f0f0f0;
overflow: auto;
display: inline-block;

}

#card--holder {
margin: auto;
overflow: auto;
width: 90%;
float: left;

}

#card--container1 {
  margin: 1.5em 1em;
  width: 27%;
  height: 90%;
  background: #fff;
  display: inline-block;
  float: left;

}

.card--content1 {
padding: 1em;
width: auto;
}

img {
  width: 100%;
}

.card__title {
  font-size: 1.5rem;
  margin: 0;
}
.hr__cardcontent {
  border-width: 0;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: #1d1d1d;
  width: 90%;
  margin: 1em;
}
